<div class="footer">
  <div class="container">
    <div class="logo">Shortly</div>
    <div class="links">
      <div class="features col">
        <div class="title">Features</div>
        <p>Link Shortening</p>
        <p>Branded links</p>
        <p>Analytics</p>
      </div>
      <div class="resources col">
        <div class="title">Resources</div>
        <p>Blog</p>
        <p>Developers</p>
        <p>Support</p>
      </div>
      <div class="company col">
        <div class="title">Company</div>
        <p>About</p>
        <p>Our Team</p>
        <p>Careers</p>
        <p>Contact</p>
      </div>
      <div class="social-links col">
        <div class="link">
          <img src="assets\images\icon-facebook.svg" alt="FB LOGO" />
        </div>
        <div class="link">
          <img
            src="assets\images\icon-twitter.svg"
            alt=" twitter logo"
          />
        </div>
        <div class="link">
          <img
            src="assets\images\icon-pinterest.svg"
            alt="pinterest logo"
          />
        </div>
        <div class="link">
          <img
            src="assets\images\icon-instagram.svg"
            alt="instagram logo"
          />
        </div>
      </div>
    </div>
  </div>
</div>
