* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.footer {
  width: 100%;
  overflow: hidden;
  background-color: hsl(260, 8%, 14%);

  .container {
  margin: 2rem;

    display: grid;
    grid-template-columns: 1fr;
    .logo {
      text-align: center;
      color: white;
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    .links {
      gap: 2rem;
      div {
        text-align: center;
        align-items: center;
      }

      .title {
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
      }
      p {
        margin-bottom: 0.5rem;
        color: hsl(0, 0%, 75%);
      }
      p:hover {
        cursor: pointer;
        color: hsl(180, 66%, 49%);
      }
      .social-links {
        display: flex;
        justify-content: center;
        gap:2rem;
        margin: 2rem;

        .link img {
          width: 2rem;
        }
        .link:hover {
          cursor: pointer;
          background: hsl(180, 66%, 49%);
        }
      }
    }
  }
}

@media screen  and (min-width:768px) {
  .footer {
    .container {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: baseline;
      .links {
        display: grid;
        align-items: baseline;
        grid-template-columns: repeat(4,1fr);
        padding-right: 2rem;
        div {
          text-align: left;
        }
        
      }
    }
  }
 
  
}
