* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  margin: 2rem 1.5rem;
  .container {
    display: flex;
    justify-content: space-between;

    .links {
      text-align: center;
      position: absolute;
      border-radius: 10px;
      right: 20px;
      top: 6rem;
      width: 90%;
      background-color: hsl(257, 27%, 26%);
      ul {
        padding: 1rem;
        .signup {
          height: 4rem;
          width: 19rem;
          border-radius: 2rem;
          font-size: 1.2rem;
          background-color: hsl(180, 66%, 49%);
        }
        .signup:hover {
          opacity: 0.5;
          color: white;
        }
        li {
          text-align: center;
          margin: auto;
          padding: 1rem 0;
          width: 5rem;
          list-style: none;
          font-size: 1.1rem;
          font-weight: 700;
          color: white;
          cursor: pointer;
        }
      }

      hr {
        position: relative;
        top: 2px;
        border: none;
        height: 1px;
        width: 80%;
        margin: auto;
        background: grey;
        margin-bottom: 20px;
      }
    }
    .burger div {
      width: 25px;
      height: 3px;
      background-color: lightgray;
      margin: 5px;
    }
  }
}

.open {
  visibility: visible;
}
.close {
  visibility: hidden;
}

@media screen and (min-width: 1100px) {
  .navbar {
    margin: 3rem 7rem;
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      .burger {
        display: none;
      }
      .links {
        top: 1rem;
        visibility: visible;
        width: 80%;
        display: flex;
        justify-content: space-between;
        background-color: transparent;

        .right {
          width: 30%;
          justify-content: flex-end;
        }
        .left {
          width: 40%;
        }
        hr {
          display: none;
        }
        ul {
          width: 50%;
          display: flex;
          align-items: center;

          li {
            width: 5rem;
            list-style: none;
            font-size: 1.2rem;
            font-weight: 700;
            color: hsl(0, 0%, 75%);
            cursor: pointer;
          }
          li:hover {
            color: black;
          }
          .signup {
            height: 4rem;
            width: 9rem;
            display: inline-block;
            border: none;
            padding: 1rem 2rem;
            border-radius: 2rem;
            font-size: 1.2rem;
            font-weight: 700;
            color: white;
            background-color: hsl(180, 66%, 49%);
          }
          .signup:hover {
            opacity: 0.5;
            color: white;
          }
        }
      }
    }
  }
}
