.stats {
    margin: 2rem 20rem;
    text-align: center;

    h1 {
        color:hsl(255, 11%, 22%);
        font-size: 3rem;
        font-weight: 700;
    }


    p {
        color: hsl(0, 0%, 75%);
        font-size: 1.7rem;
        margin: 0 2rem 0 2rem;
    }
}