.boost {
  background: url(../../../assets/images/bg-boost-desktop.svg) no-repeat;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  padding: 3rem;
  margin: 0;
  text-align: center;

  h1 {
    font-size: 1.6rem;
    color: white;
    margin-bottom: 1.5rem;
  }
  button {
    cursor: pointer;
    border: none;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 5rem;
    color: white;
    background-color: hsl(180, 66%, 49%);
    font-weight: 700;
    font-size: 1.5rem;
  }
  button:hover {
    opacity: 0.5;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .boost {
    h1 {
      font-size: 3rem;
    }
  }
}
