<div class="link-shortener">
  <div class="container">
    <form [formGroup]="linkForm" class="link-form">
      <div class="input">
        <input
          type="url"
          name="link"
          id="link-input"
          placeholder="Shorten a link here..."
          required
          formControlName="linkToShorten"
          class="form-control"
          [ngClass]="{'is-success' : linkForm.get('linkToShorten')!.valid}"
          value="linkToShorten"
        />
        <span class="error" [hidden]="linkForm.get('linkToShorten')!.valid">Please add a link.</span>

      </div>
      <button (click)="shortenLink()">Shorten it!</button>
    </form>
    <app-short-links [links]="links"></app-short-links>
  </div>
</div>
