* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cards {
  background-color: #ececec;
  align-items: center;
  justify-content: center;
  .container {
    display: grid;
    grid-template-columns: auto-fit;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

    .vl {
      margin-left: 11.3rem;
      border-top: 5rem solid hsl(180, 66%, 49%);
      height: 1.1rem;
      width: 0.7rem;
    }
    .card:last-child {
      margin-bottom: 5rem;
    }

    .card {
      position: relative;
      .text-content {
        background-color: white;
        padding: 1rem;
        width: 21rem;
        margin: 3rem 1rem 0 1rem;
        border-radius: 0.5rem;
        text-align: center;

        h1 {
          margin-top: 5rem;
          color: hsl(255, 11%, 22%);
          font-size: 1.5rem;
        }
        p {
          color: hsl(0, 0%, 75%);
          font-size: 0.9rem;
          font-weight: 500;
          text-align: center;
          margin: 1rem;
        }
      }

      img {
        position: absolute;
        left: 8.3rem;
        justify-content: center;
        background-color: hsl(257, 27%, 26%);
        padding: 2rem;
        border-radius: 5rem;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .cards {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    .container {
      margin: auto;
      max-width: 85%;
      padding: 10px;
      display: grid;
      justify-content: center;
      align-items: baseline;
      grid-template-columns: 30% 5% 30% 5% 30%;
      grid-template-rows: 1fr;

      .vl {
        margin-left: 0;
        border-top: 0;
        border-left: 6rem solid hsl(180, 66%, 49%);
        height: 1rem;
        width: 4rem;
      }
      .card .text-content {
        width: 19rem;
        text-align: left;
      }
      .text-content h1 {
        margin-left: 1rem;
      }
      .text-content p {
        text-align: left !important;
      }

      .card img {
        left: 3rem;
      }
      .brand {
        left: 1rem;
      }
      .records {
        left: 0.7rem;
        top: 1.5rem;
      }

      .custom {
        top: 3rem;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .cards {
    .container {
      max-width: 80rem;

      .card {
        .text-content {
          width: 22rem;
        }
      }
    }
  }
}
