* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.description {
  overflow:hidden ;
  margin-left: 1rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  .image {
    padding: 10rem ;    
    width: 80%;
    background: url(../../../assets/images/illustration-working.svg) no-repeat;
    background-size: cover;
  }

  .content {
    text-align: center;
    margin-top: 3rem;
    h1 {
      color: hsl(255, 11%, 22%);
      font-weight: 700;
      font-size: 2.5rem;
      margin-bottom: 0;
      line-height: 3rem;
    }
    p {
      margin-top: 1rem;
      color: hsl(257, 7%, 63%);
      font-size: 1.2rem;
    }
    button {
      margin-top: 1.5rem;
      cursor: pointer;
      padding: 1rem 2.5rem 1rem 2.5rem;
      border-radius: 2rem;
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
      background-color: hsl(180, 66%, 49%);
      border: none;
    }
    button:hover {
      opacity: 0.5;
    }
  }
}
@media screen and (min-width: 1000px) {
  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    .image {
      width: 40%;
      padding: 20rem;
    }

    .content {
      width: 60%;
      margin-left: 6rem;
      text-align: left;

    }
    h1 {
      color: hsl(255, 11%, 22%);
      font-weight: 700;
      font-size: 5.4rem !important;
      line-height: 6rem !important;
      margin-top: 3rem;
    }
    p {
      width: 70%;
      color: hsl(257, 7%, 63%);
      font-size: 1.7rem !important;
    }
    button {
      margin-top: 1.5rem;
      cursor: pointer;
      padding: 1rem 2.5rem 1rem 2.5rem;
      border-radius: 2rem;
      color: white;
      font-size: 1.5rem;
      font-weight: 700;
      background-color: hsl(180, 66%, 49%);
      border: none;
    }
    button:hover {
      opacity: 0.5;
    }
  }
}
