<div class="shortlinks">
  <div class="container">
    <div class="link-list" *ngIf="linkData?.length > 0">
      <div class="link">
        <h4>{{ linkData[1]?.full_short_link }}</h4>
        <hr />
        <div class="new-link">
          <h4>{{ linkData[1]?.short_link }}</h4>
          <button id="copyBtn" (click)="copyLink($event)" class="not-active">
            Copy
          </button>
        </div>
      </div>
      <div class="link">
        <h4>{{ linkData[1]?.full_short_link2 }}</h4>
        <hr />
        <div class="new-link">
          <h4>{{ linkData[1]?.short_link2 }}</h4>
          <button id="copyBtn" (click)="copyLink($event)" class="not-active">
            Copy
          </button>
        </div>
      </div>
      <div class="link">
        <h4>{{ linkData[1]?.full_short_link3 }}</h4>
        <hr />
        <div class="new-link">
          <h4>{{ linkData[1]?.short_link3 }}</h4>
          <button id="copyBtn" (click)="copyLink($event)" class="not-active">
            Copy
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
