<div class="cards">
  <div class="container">
    <div class="card brand">
      <img
        src="../../../assets/images/icon-brand-recognition.svg"
        alt="brand"
      />
      <div class="text-content">
        <h1>Brand Recognition</h1>
        <p>
          Boost your brand recognition with each click . Generic links don't
          mean a thing. Branded links help instil confidence in your content.
        </p>
      </div>
    </div>
    <div class="vl first"></div>
    <div class="card records">
      <img
        src="../../../assets/images/icon-detailed-records.svg"
        alt="records"
      />
      <div class="text-content">
        <h1>Detailed Records</h1>
        <p>
          Gain insights into who is clicking your links. knowing when and where
          peopl e engage with your content helps inform better decisions.
        </p>
      </div>
    </div>
    <div class="vl second"></div>
    <div class="card custom">
      <img
        src="../../../assets/images/icon-fully-customizable.svg"
        alt="custom"
      />
      <div class="text-content">
        <h1>Fully Customizable</h1>
        <p>
          improve brand awareness and content discoverability throught
          custumizable links. supercharging audience engagement.
        </p>
      </div>
    </div>
  </div>
</div>
