<div class="link-shortener">
  <div class="container">
    <form [formGroup]="linkForm" class="link-form">
      <div class="input">
        <input
          type="url"
          name="link"
          id="link-input"
          placeholder="Shorten a link here..."
          required
          formControlName="linkToShorten"
          class="form-control"
          [(ngModel)]="linkToShorten"
          value="linkToShorten"
        />
        <span class="error" *ngIf="!linkToShorten">Please add a link.</span>
      </div>

      <button (click)="shortenLink()">Shorten it!</button>
    </form>
    <div class="shortlinks">
      <div class="container">
        <div class="link-list">
          <div class="link" *ngIf="linkData.length > 0">
            <h4>
              {{ linkData[1].original_link }}
            </h4>
            <hr />
            <div class="new-link">
              <h4>{{ linkData[1].full_short_link }}</h4>
              <button
                id="copyBtn"
                (click)="copyLink($event)"
                class="not-active"
              >
                Copy
              </button>
            </div>
          </div>
          <div class="link" *ngFor="let link of storedLinks">
            <h4>
              {{ link[0] }}
            </h4>
            <hr />
            <div class="new-link">
              <h4>{{ link[1] }}</h4>
              <button
                id="copyBtn"
                (click)="copyLink($event)"
                class="not-active"
              >
                Copy
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<app-short-links [linkData]="linkData"></app-short-links>-->
  </div>
</div>
