<div class="link-shortener">
  <div class="container">
    <form [formGroup]="linkForm" class="link-form">
      <div class="input">
        <input
          type="url"
          name="link"
          id="link-input"
          placeholder="Shorten a link here..."
          required
          formControlName="linkToShorten"
          class="form-control"
          [(ngModel)]="linkToShorten"
          value="linkToShorten"
        />
        <span class="error" *ngIf="!linkToShorten">Please add a link.</span>
      </div>
      <button (click)="shortenLink()">Shorten it!</button>
    </form>
    <app-short-links [storedLinks]="storedLinks"></app-short-links>
  </div>
</div>
